<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-4x"></i>
    <h1 class="display-4 mb-5">Secrets</h1>

    <div class="posts">
      <!-- <p><%= moment().fromNow() %></p> -->
      <%  usersWithSecrets.forEach((user) => { %>
        <p class="secret-text"><%=user.details %></p>
    <% }) %>

    </div>
   
    <div class="up mt-5">
      <ta class="btn btn-light btn-lg" href="/logout" role="button">Log Out</ta>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
    
  </div>
</div>

<%- include('partials/footer') %>
